body{
  background: radial-gradient(79.22% 46.38% at 50% 50%, #C8FFF8 0%, #7FDCD1 100%), linear-gradient(159.91deg, #F4DC5E 0%, #A9C684 100%);
  background-repeat: no-repeat;
  
}

.c-g{
  color: #BAFFF7 !important;
}


.container{
  max-width: 1180px;
  margin: auto;
}

